.filtersContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.filtersContainer .filter {

    padding: 0.5rem 1rem;

    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 18rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    text-align: left;
}

.filtersContainer .filter > label {
    font-weight: bold;
}

.filtersContainer .filter label {
    display: block;
    height: 1.9rem;
    position: relative;
}

.filtersContainer .filter label input {
    position: absolute;
    right: 0;
    text-align: center;
}

.filtersContainer .filter.buildingTypes {
    flex-basis: 22rem;
}

.filtersContainer .filter > .buildingTypes {
    flex-basis: 4rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.filtersContainer .filter .buildingTypes input {
    position: static;
}

.filtersContainer .filter > * {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 2rem;
}

.filtersContainer .filter > div > label > input {
    text-align: center;
    flex-basis: 1.5rem;
    font-size: 1rem;
    padding: 0.15rem 0.05rem;
    height: 1.1rem;
}
